body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

/* janken section */
.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

h2.small-title {
    text-align: center;
}

ul{
    padding: 0;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}

li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}

.janken-result{
    text-align: center;
}

/* 30-game section */
.mode-select{
    margin: 30px 0;
    text-align: center;
}

.mode-select>span{
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 0 10px;
    border: solid 2px gray;
    cursor: pointer;
}

.easy-mode{
    background-color: navy;
    color:white;
}

.balloon-container {
    text-align: center;
}

.balloon-instruction {
    position: relative;
    display: inline-block;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 80%;
    color: #555;
    font-size: 30px;
    background: #e0edff;
    border-radius: 15px;
}
  
.balloon-instruction:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
}

.instruction>span {
    display: inline-block;
    padding: 5px 10px;
    background-color: greenyellow;
}

.turn-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ok-btn {
    display: block;
    margin-left: 30px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: greenyellow;
}

#ok-btn:hover {
    background-color: green;
    color: whitesmoke;
}

table.numbers {
    display: flex;
    justify-content: center;
}

td.number {
    padding: 10px;
    border: solid 1px black;
    border-radius: 20%;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
}

td.number:hover {
    background-color: gray;
}

p.result {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

/* footer */
footer{
    background-color: #fff;
    text-align: center;
}